@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MyPay</h1>
    <p class="lead">MyPay is a simple demo project to calculate an employee's income tax using the 2017/2018 NZ Tax tables.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies used</h2>
        <p>
            Asp.net MVC Project with Web api and a bit of bootstrap for styling
            Even though I am a fan of ADO.net I used Entity framework codefirst approach for the database desing
        </p>
        <p><a class="btn btn-default" href="mailto:richamills2@gmail.com">Queries &raquo;</a></p>
    </div>

</div>